@keyframes logo1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes logo2 {
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(75deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

img {
    position: absolute;
}

.chincheta {
    scale: 20%;
}

#chincheta1 {
    left: 390px;
    z-index: 1;
}

#chincheta2 {
    right: 425px;
    z-index: 1;
}

#logo1 {
    left: 320px;
    top: 110px;
    transform-origin: center 10px;
    animation: logo1 1.5s infinite ease-in-out;
    animation-direction: alternate;
}

#logo2 {
    right: 170px;
    top: 110px;
    transform-origin: left top;
    animation: logo2 1.5s infinite linear;
}