@keyframes div {
    from {
        left: 0;
        top: 40%;
    }
    to {
        left: 100%;
        top: 40%;
    }
}

body {
    background-image: url("paisaje.jpg");
    background-size: cover;
    overflow: hidden;
}

#aguila {
    scale: 2;
    animation: div 1.5s infinite linear;
    position: absolute;
    z-index: 0;
}

#arbol {
    z-index: 1;
    position: absolute;
    left: 120px;
    top: 74px;
    scale: 1.2;
}