body::before {
    content: "<body>";
}

div::before {
    content: "<div>";
}

section::before {
    content: "<section>";
}

header::before {
    content: "<header>";
}

div::before {
    content: "<div>";
}

p::before {
    content: "<p>";
}

h1::before {
    content: "<h1>";
}

h2::before {
    content: "<h2>";
}

h3::before {
    content: "<h3>";
}

body>* {
    background-color: lightblue;
}

body>*>* {
    background-color: lightgoldenrodyellow;
}

body>*>*>* {
    background-color: lightsteelblue;
}

body>*>*>*>* {
    background-color: lightgreen;
}

body>*>*>*>*>* {
    background-color: lightseagreen;
}

body>*>*>*>*>*>* {
    background-color: lightpink;
}

body>*>*>*>*>*>*>* {
    background-color: lightsalmon;
}

body>*>*>*>*>*>*>*>* {
    background-color: lightgray;
}

body>*>*>*>*>*>*>*>*>* {
    background-color: lightgreen;
}