body {
    background-color: yellow;
}

div {
    background-color: lightblue;
}

section {
    background-color: lightgreen;
}

header {
    background-color: lightpink;
}

div {
    background-color: lightsalmon;
}

p {
    background-color: lightgoldenrodyellow;
}

h1 {
    background-color: lightseagreen;
}

h2 {
    background-color: lightcoral;
}

h3 {
    background-color: lightskyblue;
}